ai/my workflows/00 - Preprocessing docs Google drive -_ Pinecone.json
{
  "name": "00 - Preprocessing docs Google drive -> Pinecone",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        576,
        208
      ],
      "id": "caef45da-beb6-42f8-bb8b-eaa26bb4b46e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1BrDXcptfX1TCAZqib_AOJe6gabuu9nJt",
            "mode": "list",
            "cachedResultName": "UPS TESTING",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1BrDXcptfX1TCAZqib_AOJe6gabuu9nJt"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        784,
        208
      ],
      "id": "bb842628-f755-4386-a585-46c34bf81db0",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2B59PBAAjBL3lHwU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        992,
        208
      ],
      "id": "95bce433-c693-4413-b4ef-6cdecb22924d",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2B59PBAAjBL3lHwU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "wcc-codebase",
          "mode": "list",
          "cachedResultName": "wcc-codebase"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1232,
        208
      ],
      "id": "802592a5-6c76-487b-96fd-6b9cbb9f777a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "uc5RUGuuhNRLK4MM",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1376,
        416
      ],
      "id": "76d6a6cc-a096-4136-a2a2-b9858ce1f001",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 250,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1424,
        560
      ],
      "id": "b2827f46-2ea1-4448-b33f-0da98d4d3bcd",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1184,
        416
      ],
      "id": "a4bd286f-ac70-427c-9a23-175c5e9ec748",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "C4yf3HBjwJfyAvLp",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6ca9dfc8-4e25-41f5-9769-58d7adf6d18e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "813dc49ed82e1234feb06e40becd5a8544d27c994a96cd0f228a42c7420ea04c"
  },
  "id": "LK0xlse9KRwmJO1a",
  "tags": []
}