ai/my workflows/wh =_ az 1st project.json
{
  "name": "wh => az 1st project",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rehanhanar7.github.io",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "query"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "86257129-3a45-40ef-ae03-10dbf27a5122",
      "name": "Webhook",
      "webhookId": "99bb84d2-6224-4fb0-a2a9-487ed53b0f75"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        176,
        288
      ],
      "id": "8e66ba97-66ca-474d-95d4-25368e066010",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "EQhOz7YodSvTFrVJ",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        672,
        0
      ],
      "id": "cb2e7db3-6103-4666-9557-2469f405a0ec",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an ai assistant that fetches detail about rehan from \"https://rehanhanar7.github.io\" website using http request tool and response to the query : {{ $json.body.query }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        304,
        0
      ],
      "id": "223733f0-a54d-408c-ac04-b62334c9143a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.headers['true-client-ip'] }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        400,
        464
      ],
      "id": "66bda33a-40ea-47ab-942c-90e026544323",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "https://rehanhanar7.github.io",
        "options": {},
        "optimizeResponse": true,
        "responseType": "html",
        "onlyContent": true
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        592,
        448
      ],
      "id": "b44d5ef6-691a-4df6-bba9-d3cb10ac88ea",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "22c58fbe-9a02-4325-9255-78b241209add",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "09f32268738d20d71b49e9ce2d2c6e4890e290dddeb9d280c4ac3304bad29201"
  },
  "id": "8ztJELkkScCNamhR",
  "tags": []
}